.coinflip {
  background-color: #242424;
  border-style: inset;
  padding: 15px;
}

.coinflip li {
  list-style: none;
}

.coinflip ul {
  padding: 12px;
  margin: 5px;
}

.coinflip-header {
  color: #fff;
  text-align: center;
  font-size: 32px;
}
.coinflip-join-button {
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 20px;
  width: 230px;
}
.coinflip-join-input {
  font-size: 20px;
  margin: 0 auto;
  display: block;
  text-align: center;
}

.game-footer {
  text-align: center;
  color: white;
}

.game-footer ul {
  display: inline-flex;
  list-style: none;
}

.game-footer li {
  padding: 18px;
  margin: auto;
}

.game-footer a {
  text-decoration: none;
}

.game-footer a:visited {
  color: White;
}
